<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>A birthday party</title>

   <!-- Bootstrap core CSS -->
   <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }} " rel="stylesheet">
<style type="text/css">
.custom-nav li{
    list-style-type: none;
    color: #590404;
}
.custom-nav li a{ 
    color: #590404;
}
</style>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg static-top" style="background-color: #590404">
    <div class="container">
      <a class="navbar-brand" href="#">Birthday App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" style='color:white' href="#">
           Welcome Admin
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container mt-3" style="min-height: 400px;">
<div class="row">
 
<div class="col-md-3" style="background-color:skyblue;">
   <h3>Navigation </h3>

   
</div>
<div class="col-md-9" style="background-color:#F1E8D8;">
    <h3>Admin Edit User </h3>
    {% with message = get_flashed_messages() %}
    {% for m in message: %}
    <div class='alert alert-success'>
    {{ m }}
    </div>
    {% endfor %}
    {% endwith %}
  <form>
    {{ data.guest_fullname.label }}<br>
        
    {{ data.guest_fullname(class_='form-control',value=userdeets.guest_fullname) }}<br>
   
    {{ data.email.label }}<br>
    {{ data.email(class_='form-control',value=userdeets.email) }}<br>
    {{ data.userstate.label }}<br>
    {{ data.csrf_token }}
   <input type='hidden' value="{{ userdeets.id }}" name='id'>
    <select name="userstate" class='form-control' >
    {% for x in allstates: %}
    {% if userdeets.guest_state == x.state_id %}
    <option value="{{ x.state_id }}" selected='selected'> {{ x.state_name }}</option>
    {% else: %}
    <option value="{{ x.state_id }}"> {{ x.state_name }}</option>
    {% endif %}
    
    {% endfor %}
</select>
    {{ data.updatebtn(class_='btn btn-block btn-danger') }}
</form>

 </div>
</div>

</div>
<div class="container-fluid mt-3 text-center" style="height:100px;line-height: 100px; background-color:#590404">
    <div class="row">
        <div class="col-md-12">
            Designed by Cohort 15 &copy; 2020
        </div>
    </div>

</div>
  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.slim.min.js')}}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>


  <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Launch demo modal
  </button> -->
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>


